[submodule "TradeAnalysis"]
	path = TradeAnalysis
	url = https://github.com/BlankaKorvo/TradeAnalysis.git
[submodule "Indicators/Stock.Indicators"]
	path = Indicators/Stock.Indicators
	url = https://github.com/BlankaKorvo/Stock.Indicators.git
