[submodule "Stock.Indicators"]
	path = Stock.Indicators
	url = https://github.com/BlankaKorvo/Stock.Indicators.git
[submodule "Analysis"]
	path = Analysis
	url = C:\\git\\fin\\TradeSDKConsole\\TradeSDK\\Analysis
